.motogp {
    height: 200px;
    width: 400px;
    background-color: white;

}
.motofabio {
    height:500px;
    width: 800px;
    
}
.one {
    position: absolute;
    top: 1;
    right: 1;
    height:210px;
    width: 300px;
}
.bagnaia {
    height:500px;
    width: 650px;
    margin: 10px;
    padding: 30px;
    margin: 0 auto;

}